*.out.logs
*.err.logs
tmp
embeddings
weights
data
logs
wandb
results
pretrained
./data
outputs
trash

.ipynb_checkpoints
__pycache__
.vscode
src/optimization/orthogonal_vectors.pth
src/optimization/orthogonal_vectors-2.pth
.gitignore
churches_g_ema.pt
src/segmentation/gans/StudioGAN/configs/*/*.pth
.DS_Store

